In [1]:
import pandas as pd

In [3]:
keywords_20 = pd.read_csv('key_words_top20.csv')

In [6]:
list(keywords_20['Keywords'])

['trump',
 'clinton',
 'game',
 'police',
 'say',
 'comment',
 'school',
 'woman',
 'yard',
 'student',
 'election',
 'officer',
 'percent',
 'republican',
 'cub',
 'company',
 'hurricane',
 'child',
 'city',
 'voter']

In [9]:
list(keywords_20['Frequency'])

[994,
 453,
 432,
 396,
 274,
 260,
 249,
 236,
 218,
 208,
 206,
 198,
 167,
 163,
 160,
 157,
 157,
 157,
 150,
 145]

In [10]:
keywords_top20_08 = pd.read_csv('key_words_top20_08.csv')

In [12]:
list(keywords_top20_08['Keywords'])

['trump',
 'police',
 'comment',
 'clinton',
 'school',
 'say',
 'game',
 'student',
 'officer',
 'season',
 'woman',
 'child',
 'percent',
 'rio',
 'city',
 'company',
 'olympic',
 'campaign',
 'county',
 'film']

In [13]:
keywords_top20_08

    Keywords  Frequency
0      trump        687
1     police        388
2    comment        329
3    clinton        328
4     school        263
5        say        254
6       game        246
7    student        200
8    officer        178
9     season        153
10     woman        150
11     child        148
12   percent        135
13       rio        129
14      city        129
15   company        116
16   olympic        116
17  campaign        113
18    county        113
19      film        113

In [14]:
list(keywords_top20_08['Frequency'])

[687,
 388,
 329,
 328,
 263,
 254,
 246,
 200,
 178,
 153,
 150,
 148,
 135,
 129,
 129,
 116,
 116,
 113,
 113,
 113]

In [15]:
keywords_top20_09 = pd.read_csv('key_words_top20_09.csv')

In [16]:
list(keywords_top20_09['Keywords'])

['trump',
 'police',
 'clinton',
 'comment',
 'game',
 'school',
 'say',
 'student',
 'officer',
 'child',
 'percent',
 'bank',
 'woman',
 'yard',
 'season',
 'film',
 'charlotte',
 'city',
 'scott',
 'debate']

In [2]:
mediatopics = pd.read_csv('top30media_freq.csv')

In [7]:
mediatopics.drop(['unknown', 'date', 'country', 'website', 'title'], axis=1, inplace=True)

In [11]:
mediatopics

                media     id
0   Houston Chronicle    133
1            Newsweek    206
2      New York Times    242
3                VICE    402
4      Breitbart News    546
5            Politico    739
6         Daily Beast    750
7        The Atlantic   1093
8     Washington Post   1556
9      Slate Magazine   1916
10            Reuters   2313
11             Quartz   2627
12                CNN   2783
13      New York Post   2794
14               TIME   3795
15          USA TODAY   4338
16                NPR   4694
17    Huffington Post   5190
18           ABC News   5745
19  Los Angeles Times   6607
20           CBS News   6752
21           NBC News   8271
22           Fox News  11641

In [13]:
list(mediatopics['media'])[::-1]

['Fox News',
 'NBC News',
 'CBS News',
 'Los Angeles Times',
 'ABC News',
 'Huffington Post',
 'NPR',
 'USA TODAY',
 'TIME',
 'New York Post',
 'CNN',
 'Quartz',
 'Reuters',
 'Slate Magazine',
 'Washington Post',
 'The Atlantic',
 'Daily Beast',
 'Politico',
 'Breitbart News',
 'VICE',
 'New York Times',
 'Newsweek',
 'Houston Chronicle']

In [14]:
list(mediatopics['id'])[::-1]

[11641,
 8271,
 6752,
 6607,
 5745,
 5190,
 4694,
 4338,
 3795,
 2794,
 2783,
 2627,
 2313,
 1916,
 1556,
 1093,
 750,
 739,
 546,
 402,
 242,
 206,
 133]